
  
    .look{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size:25pt;
      font-weight: 400;
      font-style:italic;
      color:rgb(132, 0, 255);
      width:400px;
      border: solid 3px #000; 
      padding: 5px;
      margin: 20px;
      background-color: aquamarine;
    }
   

    .backgroundimage{
         background: url("C:/Users/91827/Pictures/Saved Pictures/ramon-salinero-vEE00Hx5d0Q-unsplash.jpg") top center no-repeat;
    }

    a{
        color:burlywood;
        font-weight: bold;
        text-decoration:none;
    }
    a:hover{
        text-decoration:underline;
    }

 